#
# Copyright (c) Siemens AG 2019-2025 ALL RIGHTS RESERVED
# SPDX-License-Identifier: MIT
#

.poetry-cache/
.vscode/
*.pyc

/.coverage
/.idea/
/.poetry-cache
/.tox/
/coverage.xml
/dist/
/output/
/tests/output/*
/website/site/
bin/
toms_demo.py
venv/
