#
# Copyright (c) Siemens AG 2019-2025 ALL RIGHTS RESERVED
# SPDX-License-Identifier: MIT
#

bin/
.vscode/
/_support/
venv/
/website/site/
/.idea/
.poetry-cache/
/.coverage
/coverage.xml
/output/
/dist/
*.pyc
toms_demo.py
/.poetry-cache
/.tox/
